APP_NAME=knowledge-base
DEBUG=true
VERSION=1.0.0

# Provider Configuration
text_provider="openai"    # openai
image_provider="openai"   # openai

openai_base_url="https://api.openai.com/v1"

openai_api_key=

text_llm_model=gpt-4o
image_llm_model=flux-dev
